docs/automation/n8n/adl-competitor-leads.workflow.json
{
  "name": "ADL Competitor Lead Intake",
  "active": false,
  "nodes": [
    {
      "id": "source-webhook",
      "name": "Competitor Source Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 260],
      "parameters": {
        "httpMethod": "POST",
        "path": "adl-competitor-leads",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "filter-allowed-sources",
      "name": "Filter Allowed Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 260],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const VALID_CATEGORIES = new Set([\n  'pharmacy', 'fuel_station', 'mobile_money',\n  'alcohol_outlet', 'billboard', 'transport_road', 'census_proxy',\n]);\nconst CATEGORY_ALIASES = {\n  fuel: 'fuel_station', petrol: 'fuel_station', gas: 'fuel_station',\n  pharmacy: 'pharmacy', chemist: 'pharmacy', drugstore: 'pharmacy',\n  mobile_money: 'mobile_money', momo: 'mobile_money', mobile_payment: 'mobile_money',\n  alcohol: 'alcohol_outlet', bar: 'alcohol_outlet', pub: 'alcohol_outlet',\n  billboard: 'billboard', advertising: 'billboard',\n  road: 'transport_road', transport: 'transport_road',\n  census: 'census_proxy', household: 'census_proxy',\n};\nfunction normalizeCategory(raw) {\n  if (!raw) return null;\n  const lower = String(raw).trim().toLowerCase().replace(/[^a-z_]/g, '_');\n  if (VALID_CATEGORIES.has(lower)) return lower;\n  const alias = CATEGORY_ALIASES[lower];\n  return alias ?? null;\n}\n\nconst sourceSystem = typeof $json.sourceSystem === 'string' ? $json.sourceSystem : 'competitor_feed';\nconst records = Array.isArray($json.records) ? $json.records : [];\nconst blocked = ['google_maps'];\nif (blocked.includes(sourceSystem)) {\n  throw new Error('Blocked sourceSystem. Review ToS before enabling this feed.');\n}\n\nconst leads = [];\nconst skipped = [];\nrecords.forEach((row, index) => {\n  const category = normalizeCategory(row.category ?? row.vertical);\n  if (!category) {\n    skipped.push({ index, raw: row.category ?? row.vertical ?? null });\n    return;\n  }\n  leads.push({\n    sourceRecordId: String(row.sourceRecordId ?? `${sourceSystem}-${index}`),\n    sourceUrl: row.sourceUrl ?? null,\n    category,\n    location: {\n      latitude: Number(row.latitude ?? row.lat),\n      longitude: Number(row.longitude ?? row.lon),\n    },\n    normalizedDetails: row.normalizedDetails ?? {\n      name: row.name ?? null,\n      brand: row.brand ?? null,\n      operator: row.operator ?? null,\n    },\n    rawPayload: row,\n    evidenceUrls: Array.isArray(row.evidenceUrls) ? row.evidenceUrls : [],\n    freshnessAt: row.freshnessAt ?? new Date().toISOString(),\n    priority: row.priority ?? 'medium',\n  });\n});\n\nif (skipped.length > 0) {\n  console.warn(`[adl-competitor-leads] Skipped ${skipped.length}/${records.length} rows with unmapped categories:`, JSON.stringify(skipped.slice(0, 10)));\n}\nif (leads.length === 0) {\n  throw new Error(`All ${records.length} records had unmapped categories — check category field values`);\n}\n\nreturn [{ json: { runKey: `${sourceSystem}-${Date.now()}`, workflowName: 'adl-competitor-leads', sourceSystem, triggerType: 'webhook', startedAt: new Date().toISOString(), completedAt: new Date().toISOString(), leads, _skippedCount: skipped.length } }];"
      }
    },
    {
      "id": "post-competitor-leads",
      "name": "Post Competitor Leads To ADL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 260],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "={{$env.ADL_BASE_URL + '/api/intake/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.AUTOMATION_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 260],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      }
    }
  ],
  "connections": {
    "Competitor Source Webhook": {
      "main": [
        [
          {
            "node": "Filter Allowed Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Allowed Sources": {
      "main": [
        [
          {
            "node": "Post Competitor Leads To ADL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Competitor Leads To ADL": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "versionId": "adl-competitor-leads-v2",
  "meta": null,
  "pinData": {}
}
